<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>А. Блок</h1>
    <h2>О поэте</h2>
    <h4>БИОГРАФИЯ</h4>
    <p>Александр Блок написал свои первые стихи еще до гимназии. В 14 лет он издавал рукописный журнал «Вестник», в 17 —
        ставил пьесы на сцене домашнего театра и играл в них, в 22 — опубликовал свои стихотворения в альманахе Валерия
        Брюсова «Северные цветы». Создатель поэтичного и таинственного образа Прекрасной Дамы, автор критических статей,
        Блок стал одним из самых известных поэтов Серебряного века.
    </p>
    <a href="https://www.culture.ru/persons/8190/aleksandr-blok" target="_blank">Подробная информация поэте</a>

</div>
    <div><img src="https://www.culture.ru/_next/image?url=https%3A%2F%2Fcdn.culture.ru%2Fimages%2F4159f321-de61-59cc-8248-5694078eba49%2Fw_1020%2Cc_fill%2Cg_center%2F12-jpg.webp&w=1024&q=75" style="width: 200px">
    </div>

<div>
     <ol>
        <li>Юный издатель и драматург</li>
        <li>Стихи о прекрасной даме</li>
        <li>Общество ревнителей художественного слова</li>
        <li>«Искусство и революция»</li>
    </ol>

    <p>Стихи</p>
    <ul>
        <li>Ночь, улица, фонарь, аптека…</li>
        <li>Незнакомка</li>
        <li>Стихи о прекрасной даме</li>
        <li>12</li>
    </ul>

    <p>Обратная связь</p>
<form action="/action" method="POST">
    <input required type="email" value="E-mail">
    <input type="topic" value="Тема обращения">
</form>
    <form action="/action" method="POST">
    <textarea placeholder="text">Текст</textarea>
</form>
</form>
    <form action="/action" method="POST">
    <button type="submit">Отправить</button>
</form>
</div>
</body>
</html>